html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:rgb(181, 222, 255);
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:rgb(11, 11, 11);
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid rgb(23, 23, 23) ;
    margin-top:30px;
    height:2em;
    width:250px;
    padding-left:10px;
}

input:active{
    border:none;
}
#wrapper{
    height:400px;
    width:400px;
    margin:200px auto;
    background-color:rgb(109, 190, 245);
    border-radius:10px;
    padding:30px;
}

button{
    margin-top:20px;
    background-color:rgb(18, 17, 17);
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #fafefe;
}

button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}